<?php $urls = $block->getUrls(); ?>
<div class="block social">
    <div class="title">
        <?= $block->escapeHtml(__('Follow us!')) ?>
    </div>
    <div class="icons">
        <?php if ($urls["instagram"]): ?>
            <div class="icon">
                <a href="<?= $urls["instagram"] ?>">
                    <i class="icon-instagram"></i>
                </a>
            </div>
        <?php endif; ?>
        <?php if ($urls["facebook"]): ?>
            <div class="icon">
                <a href="<?= $urls["facebook"] ?>">
                    <i class="icon-facebook"></i>
                </a>
            </div>
        <?php endif; ?>
        <?php if ($urls["youtube"]): ?>
            <div class="icon">
                <a href="<?= $urls["youtube"] ?>">
                    <i class="icon-youtube"></i>
                </a>
            </div>
        <?php endif; ?>
        <?php if ($urls["pinterest"]): ?>
            <div class="icon">
                <a href="<?= $urls["pinterest"] ?>">
                    <i class="icon-pinterest"></i>
                </a>
            </div>
        <?php endif; ?>
    </div>
</div>